.video-list-item {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 22.5%;
  margin-right: 5%;
  margin-bottom: 40px;
  overflow: hidden;
}

.video-list-item:nth-child(3n) {
  margin-right: 0;
}

.video-item-action {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.65);
}

.video-item-action:hover{
  color: #0084ff;
}

.video-item-image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
}

.video-list-item:hover .video-item-image {
  transform: scale(1.1);
}

.video-list-item:hover .play-icon {
  opacity: 1;
}

.video-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.65);
  background: rgba(255, 255, 255, 0.65);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card-title::before {
  content: '';
  width: 10px;
  height: 20px;
  background: #1890ff;
  position: absolute;
  left: 0;
}

.video-card-title::after {
  content: '';
  width: 10px;
  height: 20px;
  background: #1890ff;
  position: absolute;
  right: 0;
}

.play-icon {
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.65);
  color: #ffffff;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  opacity: 0;
  transition: opacity 0.3s, background 0.3s;
}

.play-icon:hover {
  background: #1890ff;
}
