.auction-main-content {
  padding: 24px 0;
  border: 1px solid #e8e8e8;
  background: #ffffff;
}

.auction-content {
  padding: 0 24px;
  min-height: 480px;
}

.auction-product-image {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-bottom: 16px;
}

.auction-product-image > img {
  border-radius: 4px;
}

.auction-image-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120px;
  font-size: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.35);
  opacity: 0;
  transition: opacity 0.3s;
}

.auction-product-image:hover > .auction-image-mask {
  opacity: 1;
  cursor: pointer;
}

.auction-upload-content,
.auction-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.auction-cropper {
  width: 200px;
  height: 200px;
}

.auction-image-preview {
  width: 400px;
  height: 400px;
  margin-bottom: 16px;
  overflow: hidden;
}

.auction-cover-uploader > .ant-upload {
  width: 300px;
  height: 300px;
  margin: 0;
  margin-bottom: 16px;
}

.auction-image-uploader > .ant-upload {
  width: 120px;
  height: 120px;
  margin: 0;
  margin-bottom: 16px;
}

.auction-details-content > .ant-row {
  width: 100%;
}

.auction-details-label {
  line-height: 40px;
  color: rgba(0, 0, 0, 0.85);
}

.auction-details-label:after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}

.auction-details-cover {
  width: 300px;
  height: 300px;
}
