.video-card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-card-list-item {
  list-style: none;
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 40px;
}

.video-card-list-item:nth-child(3n) {
  margin-right: 0;
}
