.article-list-item {
  display: block;
  position: relative;
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.article-item-action {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
  font-size: 1.5rem;
}

.article-item-action:hover {
  color: #0084ff;
}

.article-list-item > a {
  color: rgba(0, 0, 0, 0.65);
}

.article-list-item > a:hover .article-item-title {
  color: #1890ff;
}

.article-list-item:last-child {
  margin-bottom: 40px;
}

.article-item-title {
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s;
}

.article-item-introduction {
  flex: 1;
  margin-right: 24px;
}

.article-item-info {
  margin-top: 8px;
}

.article-item-info > span {
  margin-right: 32px;
}
