.home-banner-left {
  position: relative;
  width: 59.5%;
  margin-right: 0.5%;
}

.home-banner-right {
  width: 39.5%;
  margin-left: 0.5%;
}

.home-banner-image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
}

.home-banner-tl,
.home-banner-tr,
.home-banner-bl,
.home-banner-br {
  float: left;
  position: relative;
  width: 49%;
  padding-bottom: 49%;
}

.home-banner-tl {
  margin-right: 1%;
  margin-bottom: 2%;
}

.home-banner-tr {
  margin-left: 1%;
  margin-bottom: 2%;
}

.home-banner-bl {
  margin-right: 1%;
}

.home-banner-br {
  margin-left: 1%;
}

.home-channel-title > span {
  font-size: 1.75rem;
}

.shadow-inside {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: inset 0 0 180px rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 0.3s;
}

.shadow-inside:hover {
  opacity: 1;
}
