.comment-cancel-reply {
  margin-left: 16px;
  color: #f5222d;
  cursor: pointer;
  transition: transform 0.3s;
}

.comment-cancel-reply:hover {
  transform: scale(1.1);
}

.comment-item {
  padding: 16px 0;
  border-bottom: 1px solid #ebedf0;
}

.comment-item-right {
  flex: 1;
  font-size: 1rem;
}

.comment-item-action > span {
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
}
